body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 15px; /* Ukuran font utama pada tag <p></p> */
    font-weight: bold;
    background-color:  #4b7aef; /* Warna latar belakang laman web */
    color: #FFFFFF; /* Warna teks */ 
}
h1 {
    color:  #d1fa67;
    font-size: 30px;
    font-family: 'Inter';
    border-bottom: 5px  #d1fa67;
    border-bottom-style: double;
    text-align: center;
}
h2 {
    color:  #d1fa67;
    font-size: 22px;
    font-family: 'Inter';
    text-decoration: underline;
}
h3 {
    color:  #d1fa67;
    font-size: 22px;
    font-family: 'Inter';
}
img {
    border: 7px solid #FD98FB;
}

@keyframes color-change {
    0% {
      color: #FD98FB;
    }
  
    50% {
      color: #c3f050;
    }
  
    100% {
      color: #FD98FB;
    }
}

h1:hover {
    animation: color-change 5s infinite;
}